{% extends 'base.html.twig' %}

{% block title %}Dodawanie/Edycja kategorii{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Dodawanie/Edycja kategorii</h1></br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-block">
        <input type="submit" class="btn btn-primary" value="Zapisz"/>
        {% if (category.id != null) %}
            <a class="btn btn-danger" href="/category/delete/{{category.id}}">Usuń</a>
        {% endif %}
        <a class="btn btn-info" href="/category">Powrót</a>
    </div>
    {{ form_end(form) }}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}